body {
    background-color: antiquewhite;
}

body h1 {
    color: hsl(0, 0%, 0%);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.container1 {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin-bottom: 20px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.container1 img {
    width: 300;

}

.text-content {
    padding: 20px;

}

a {
    color: rgb(119, 0, 0);
}